<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
      <div class="container">
          <div class="mt-5">
    <table class="table table-responsive table-bordered table-sm">
        <thead>
          <tr>
            <th class="table-active">Strategy</th>
            <th class="table-active">FRAME	TIME</th>
            <th class="table-active">STOCK NAME</th>
            <th class="table-warning">Buy Time</th>
            <th class="table-warning">DATE</th>
            <th class="table-warning">QTY</th>
            <th class="table-warning">Price</th>
            <th class="table-warning">BRK</th>
            <th class="table-warning">NRATE</th>
            <th class="table-warning">AMT</th>
            <th class="table-danger">Buy Time</th>
            <th class="table-danger">DATE</th>
            <th class="table-danger">QTY</th>
            <th class="table-danger">Price</th>
            <th class="table-danger">BRK</th>
            <th class="table-danger">NRATE</th>
            <th class="table-danger">AMT</th>
            <th class="table-success">Total</th>
          </tr>
        </thead>
        <tbody>
        {% for StockInfo in StockInfos %}
          <tr>
            <th class="table-active"> {{ StockInfo.strategy.name }} </th>
            <th class="table-active"> {{ StockInfo.buy.time_frame }} </th>
            <th class="table-active"> {{ StockInfo.buy.stockname }} </th>
            <th class="table-warning"> {{ StockInfo.buy.time }} </th>
            <th class="table-warning"> {{ StockInfo.buy.date }} </th>
            <th class="table-warning"> {{ StockInfo.buy.quanty|floatformat:2 }} </th>
            <th class="table-warning"> {{ StockInfo.buy.price|floatformat:2  }} </th>
            <th class="table-warning"> {{ StockInfo.buy.brk|floatformat:2 }} </th>
            <th class="table-warning"> {{ StockInfo.buy.nrate|floatformat:2 }} </th>
            <th class="table-warning"> {{ StockInfo.buy.amt|floatformat:2 }} </th>
            <th class="table-danger"> {{ StockInfo.sell.time }} </th>
            <th class="table-danger"> {{ StockInfo.sell.date }} </th>
            <th class="table-danger"> {{ StockInfo.sell.quanty|floatformat:2 }} </th>
            <th class="table-danger"> {{ StockInfo.sell.price|floatformat:2 }} </th>
            <th class="table-danger"> {{ StockInfo.sell.brk|floatformat:2 }} </th>
            <th class="table-danger"> {{ StockInfo.sell.nrate|floatformat:2 }} </th>
            <th class="table-danger"> {{ StockInfo.sell.amt|floatformat:2 }} </th>
            {% comment %} <th class="table-danger">Last</th> {% endcomment %}
            <th class="table-success"> {{ StockInfo.total|floatformat:2 }}</th>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </body>
</html>
